.learn-content .upload-content{
    padding-bottom: 20px;

}
.learn-content .upload-content .box-applyCV{
    padding: 10px;
    border: 1px solid rgb(57, 69, 175);
    border-radius: 5px;
}
.learn-content .upload-content .box-applyCV input{
    width: 90%;
}
.learn-content .upload-content .box-applyCV .btn-send{
    float: right;
    width: 10%;
    color: white;
    border: 1px solid rgb(89, 89, 219);
    border-radius: 5px;
    background-color: rgb(89, 89, 219);
}
.learn-content .similar-title{
    padding: 20px 0 10px;
    /*text-align: center;*/
}
.learn-content .similar-job .row{
    margin: 10px 0;
    padding: 0;
    border-bottom: 0.5px solid rgb(206, 202, 202);
}
.learn-content .similar-job .similar-img{
    padding: 10px;
    align-content: center;
    display: flex;
}
.learn-content .similar-job .similar-img img{
    width: 100%;
    align-items: center;
    text-align: center;    
}
.learn-content .similar-job p{
    font-size: 10;
}